/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}

input, button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

/*.App{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
}*/

.login{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
}

form{
  display: block;
  position: relative;
}

form:after{
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 1;
  background-image: linear-gradient(to bottom right, #FFCE00, #22dbec);
}

form .form-inner {
  position: relative;
  display: block;
  background-color: #FFF;
  padding: 30px;
  z-index: 2;
}

form .form-inner h2 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: 'Billabong', 'Brush Script MT', cursive;
  font-size: 48px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 50px;
}

form .form-inner .form-group {
  display: block;
  width: 300px;
  margin-bottom: 15px;
}

form .form-inner .login-button-container {
  text-align: center;
}

.form-inner .form-group label {
  display: block;
  color: #666;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.4s;
}

.form-inner .form-group:focus-within label {
  color: #22dbec;
}

.form-inner .form-group:focus-within input {
  display: block;
  justify-content: center;
  width: 100%;
  padding: 10px 60px;
  background-color: #F8F8F8;
  border-radius: 8px;
  transition: 0.4s;
}

form .form-inner .form-group input:focus {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

form .form-inner input[type="submit"],
.welcome button {
  display: inline-block;
  padding: 10px 60px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00 50%, #22dbec);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
}

form .form-inner input[type="submit"]:hover, 
.welcome button:hover{
  background-position: 100%;
}

.welcome{
  width: 100%;
  max-width: 480px;
  background-color: #FFF;
  padding: 15px 30px;
}

.welcome h2{
  color: #888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

.welcome h2 span{
  color: #22dbec;
  font-weight: 700;
}

.userPortal .header{
  background-color: rgb(43, 188, 133);
  color:#FFF;
  margin: 0;
  padding: 20px;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

.userPortal .header h2{
  color: rgb(0, 0, 0);
  text-align: center;
  justify-content: center;
  font-family: 'Billabong', 'Brush Script MT', cursive;
  font-size: 48px;
  font-weight: 500;
}

.userPortal h2 span{
  color: #22dbec;
  font-weight: 700;
}

.userPortal button {
  position: absolute;
  right: 30px;
  top: 30px;
  display: inline-block;
  padding: 10px 60px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00 50%, #22dbec);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
}

.userPortal .logout{
  float: right;
}

.userPortal .content-container{
  padding: 50px;
}

.userPortal .flex-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.taskList{
  margin-top: 40px;
  width: 300px;
}

.taskList .header-container{
  background-color: #FFCE00;
  padding: 10px;
  justify-content: space-around;
}

.taskList h3{
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.taskList .task-container{
  margin-top: 10px;
  height: 80px;
  padding: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.taskList .task{
  display: flex;
  justify-content: space-around;
}

.checkBox{
  background: #fff;
  border: 2px solid black;
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  height: 20px;
  padding: 0;
  text-align: center;
  width: 20px;
}