/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}

input, button {
  /* appearance: none; */
  background: none;
  border: none;
  outline: none;
}

input, checkbox {
  position: relative;
  /* appearance: none; */
	cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

/*.App{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
}*/

.login{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
}

.log-reg-box{
  /* display: block; */
  overflow: hidden;
}

.log-reg-box:after{
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 1;
  background-image: linear-gradient(to bottom right, #FFCE00, #22dbec);
}

.form-box{
  position: relative;
  width: 380px;
  height: 550px;
  background-color: #FFF;
  padding: 30px;
  margin: 6% auto;
  z-index: 2;
}

.form-box h2{
  color: rgb(0, 0, 0);
  text-align: center;
  justify-content: center;
  font-family: 'Billabong', 'Brush Script MT', cursive;
  font-size: 48px;
  font-weight: 500;
  padding: 10px;
  z-index: 2;
}

.button-box{
  width: 220px;
  margin: 20px auto;
  position: relative;
  box-shadow: 0 0 20px 9px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

.button-box button{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn{
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #FFCE00 50%, #FFCE00 50%, #22dbec);
  border-radius: 30px;
  transition: .5s;
}

.input-group{
  top: 180px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}

#login{
  left: 50px;
  top: 250px;
}

#register{
  left: 450px;
}

/* form{
  display: block;
  position: relative;
} */

/* form:after{
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 1;
  background-image: linear-gradient(to bottom right, #FFCE00, #22dbec);
} */

form .form-inner {
  position: relative;
  display: block;
  background-color: transparent;
  padding: 10px;
  z-index: 2;
}

form .form-inner h2 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: 'Billabong', 'Brush Script MT', cursive;
  font-size: 48px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 50px;
}

form .form-inner .form-group {
  display: block;
  width: 300px;
  margin-bottom: 15px;
}

form .form-inner .login-button-container {
  text-align: center;
}

.form-inner .form-group label {
  display: block;
  color: #666;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.4s;
}

.form-inner .form-group:focus-within label {
  color: #22dbec;
}

.form-inner .form-group:focus-within input {
  display: block;
  justify-content: center;
  width: 90%;
  padding: 10px 60px;
  background-color: #F8F8F8;
  border-radius: 8px;
  transition: 0.4s;
}

form .form-inner .form-group input:focus {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

form .form-inner input[type="submit"],
.welcome button {
  display: inline-block;
  padding: 10px 60px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00 50%, #22dbec);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
}

form .form-inner input[type="submit"]:hover,
form .new-task-form-inner input[type="submit"]:hover, 
.welcome button:hover{
  background-position: 100%;
}

.welcome{
  width: 100%;
  max-width: 480px;
  background-color: #FFF;
  padding: 15px 30px;
}

.welcome h2{
  color: #888;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

.welcome h2 span{
  color: #22dbec;
  font-weight: 700;
}

.userPortal .header{
  background-color: #f3f3f3;
  color:#FFF;
  margin: 0;
  padding: 20px;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

.userPortal .header h2{
  color: rgb(0, 0, 0);
  text-align: center;
  justify-content: center;
  font-family: 'Billabong', 'Brush Script MT', cursive;
  font-size: 48px;
  font-weight: 500;
}

.userPortal h2 span{
  color: #22dbec;
  font-weight: 700;
}

.userPortal button {
  position: absolute;
  right: 30px;
  top: 30px;
  display: inline-block;
  padding: 10px 60px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00 50%, #22dbec);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
}

.userPortal .content-container button {
  position: relative;
  padding: 10px 60px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00 50%, #22dbec);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
}

.userPortal button:hover{
  background-position: 100%;
}

.userPortal .logout{
  float: right;
}

.userPortal .content-container{
  padding: 50px;
}

.userPortal .flex-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.taskList{
  text-align: center;
  margin-top: 40px;
  width: 500px;
}

.taskList .header-container{
  background-color: #FFCE00;
  padding: 10px;
  justify-content: space-evenly;
}

.taskList .entry{
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
}

.taskList .task-container{
  margin-top: 10px;
  height: 80px;
  padding: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.taskList .task{
  display: flex;
  justify-content: space-around;
}

.close-container{
  position: relative;
  margin: 2px;
  width: 50px;
  height: 50px;
  margin-top: -10px;
  cursor: pointer;
}

.leftright{
  height: 4px;
  width: 50px;
  position: absolute;
  margin-top: 24px;
  background-color: #F4A259;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all .3s ease-in;
}

.rightleft{
  height: 4px;
  width: 50px;
  position: absolute;
  margin-top: 24px;
  background-color: #F4A259;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all .3s ease-in;
}

label{
  color: white;
  font-family: Helvetica, Arial, sans-serif; 
  font-size: .6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all .3s ease-in;
  /* opacity: 0; */
}
.close{
  margin: 60px 0 0 5px;
  position: absolute;
}

.close-container:hover .leftright{
  transform: rotate(-45deg);
  background-color: #F25C66;
}
.close-container:hover .rightleft{
  transform: rotate(45deg);
  background-color: #F25C66;
}
.close-container:hover label{
  opacity: 1;
}

.add-task-button button{
  position: absolute;
  top: 16px;
  right: 0px;
  padding: 10px 60px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00 50%, #22dbec);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
}

.AddNewTask{
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #FFCE00;

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner{
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 860px;
  background-color: #F8F8F8;
}

.popup-inner .close-button{
  position: absolute;
  top: 16px;
  right: 16px;
}

.userPortal .content-container .AddNewTask .popup-inner .close-button button {
  position: static;
  top: 16px;
  right: 16px;
  padding: 10px 60px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00 50%, #22dbec);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
}

form .popup-inner {
  position: relative;
  display: block;
  background-color: transparent;
  padding: 10px;
  z-index: 2;
}

.popup-inner .input-group{
  top: 10px;
  position: relative;
  width: 280px;
  transition: 0.5s;
}

form .popup-inner .form-group {
  display: block;
  width: 300px;
  margin-bottom: 15px;
}

.popup-inner .form-group label {
  display: block;
  color: #666;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.4s;
}

.popup-inner .form-group:focus-within label {
  color: #22dbec;
}

.popup-inner .form-group:focus-within input {
  display: block;
  justify-content: center;
  width: 90%;
  padding: 10px 60px;
  background-color: #F8F8F8;
  border-radius: 8px;
  transition: 0.4s;
}

form .popup-inner .form-group input:focus {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

form .popup-inner .submit-task-button-container {
  text-align: center;
}

form .new-task-form-inner input[type="submit"]{
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 60px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00 50%, #22dbec);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
}